<section class="dos">
    <h1>Aptitudes</h1>
    <p style="font-size: large;">
        Estas son algunas tecnologías de las que tengo conocimientos.
    </p>
    <div class="aptitudes">
        <div class="tech-list">
            <img src={{habilidadCSS.urlImagen}}
                class="tech" alt="Icono CSS">
            <img src={{habilidadAngular.urlImagen}}
                class="tech" alt="Icono Angular">
            <img src={{habilidadHTML5.urlImagen}}
                class="tech" alt="Icono HTML 5">
        </div>
        <div class="tech-list">
            <img src={{habilidadLispWorks.urlImagen}}
                class="tech" alt="Icono LispWorks">
            <img src={{habilidadSWIProlog.urlImagen}}
                class="tech" alt="Icono SWI Prolog">
            <img src={{habilidadLazarus.urlImagen}}
                class="tech" alt="Icono Lazarus">
        </div>
        <div class="contenedor">
            <p style="font-size: large;">Además también poseo conocimientos sobre programación con objetos en
                VisualWorks (SmallTalk), incluyendo el desarrollo de Interfaces.</p>
        </div>

    </div>
</section>