.redes{
    margin-right: 0.5cm;
}

a img {
    width: 45px;
    height: 45px;
    border-radius: 15px;
}

.alineacion{
    display: flex;
    align-items: end;
}

.btn-bootstrap {
    padding: .375rem .75rem;
    margin-right: 15px;
    border-radius: 15px;
    background-color: #9014ca;
    color: #000000;
    transition: background-color .15s ease-in-out;
    border-color: blue;
  }

  h5{
    margin-left: 10px;
    color: #000000;
  }