<section class="cuatro">

    <h1>Titulo Secundario</h1>
    <div class="espacio">
        <h3>{{estudio.titulo}}</h3>
    </div>
    <div class="estilo">
        <h5>Terminé la educación secundaria en la {{estudio.institucion}} de Rosario del Tala, Entre Ríos.
        </h5>
        <h5>Dicho periodo duró 7 años, desde {{estudio.inicio}} hasta {{estudio.fin}}</h5>
        <h5> {{estudio.descripcion}} </h5>
        <h5> {{descripExtra}} </h5>
    </div>
    <a target="_blank" href={{estudio.urlTitulo}}>Ver Título Secundario</a>

</section>