<footer>
    <div class="contacto">
        <h3><img class="icono" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR40eYM34Y2InJT1KHk2nddkRq78aX9XRRLg&usqp=CAU" alt="Icono Gmail">Un medio mas formal de Contactarme</h3>
        <form method="post">
            <input type="text" name="name" placeholder="Nombre Completo">
            <input type="email" name="email" placeholder="Su email">
            <input type="text" name="mensaje" placeholder="Escriba aquí su mensaje">
            <input type="submit" name="register">
        </form>
    </div>

</footer>