<section class="tres">
    <h2>Mis Proyectos</h2>
        <div class="proyectos">
            <div class="card">
                <h3>{{proyectoChatterbot.titulo}}</h3>
                <p class="espacio">
                    {{proyectoChatterbot.descripcion}}
                </p>
                <a href={{proyectoChatterbot.urlProyecto}} target="_blank">Ver</a>
            </div>
            <div class="card">
                <h3>{{proyectoConsultorio.titulo}}</h3>
                <p class="espacio">
                    {{proyectoConsultorio.descripcion}}
                </p>
                <a href={{proyectoConsultorio.urlProyecto}} target="_blank">Ver</a>
            </div>
            <div class="card">
                <h3>{{proyectoViajesTuristicos.titulo}}</h3>
                <p class="espacio">
                    {{proyectoViajesTuristicos.descripcion}}
                </p>
                <a href={{proyectoViajesTuristicos.urlProyecto}} target="_blank">Ver</a>
            </div>
        </div>
</section>