<section class="tres">
    <h2>Mis Proyectos</h2>
        <div class="proyectos">
            <div class="card">
                <h3>Chatterbot Conversacional</h3>
                <p class="espacio">
                    {{desc_chatterbot}}
                </p>
                <a href="https://drive.google.com/drive/folders/1dTnUIWRz1Tr6mq88RkyJW_0wloU84Kfq?usp=sharing" target="_blank">Ver</a>
            </div>
            <div class="card">
                <h3>Simulación Consultorio Dentista </h3>
                <p class="espacio">
                    {{desc_consultorio}}
                </p>
                <a href="https://drive.google.com/drive/folders/10DGmIlOQliBZtFZOIufFhNySA58-DDMT?usp=sharing" target="_blank">Ver</a>
            </div>
            <div class="card">
                <h3>Gestión de Viajes Turísticos</h3>
                <p class="espacio">
                    {{desc_viajes_turisticos}}
                </p>
                <a href="https://drive.google.com/drive/folders/1JvOG_ntFP_EF4hAjWiPZ3j3W72T9WEeo?usp=sharing" target="_blank">Ver</a>
            </div>
        </div>
</section>