<section class="uno">

    <div class="contenedor">
        <div class="container-fluid">
            <div class="presentacion">
                <h4>{{introduccion}}</h4>
            </div>
        </div>
        <div class="contenedorMiCara">
            <div style="text-align: center;">
                <img src="./assets/Imagenes/Mi Imagen Portfolio.jpeg" class="miCara" alt="Imagen Mía Representativa">
                <h4>{{nombre}}</h4>
            </div>
        </div>
    </div>

</section>
